.profileCon {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
}
.profileImg {
  width: 50px;
  margin-bottom: 10px;
}
.prof-heading {
  font-size: 18px;
  font-weight: bold;
  color: #6366f1;
  font-family: 'Roboto';
  margin: 3px;
}
.prof-description {
  font-size: 12px;
  font-weight: bold;
  color: #2c364c;
  font-family: 'Roboto';
  margin: 3px;
}
.retryBtn {
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  border-radius: 5px;
  margin: 3px;
  border: none;
  padding: 8px;
}
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
